<!-- Dashboard Profile -->
<app-dashboard-profile></app-dashboard-profile>

<!-- Dashboard Display Panel -->
<div class="display-wrap">
  <aside>
    <nav>
      <ul>
        <li><a class="btn" href="">Overview</a></li>
        <li><a class="btn" href="">Courses</a></li>
        <li><a class="btn" href="">Books</a></li>
      </ul>
    </nav>
  </aside>

  <section>
    <div class="card" style="width: 18rem;">
      <img src="..." class="card-img-top" alt="...">
      <div class="card-body">
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      </div>
    </div>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
      eligendi quis dolore nam molestias, hic officiis
      animi libero dignissimos at nostrum voluptatem quas
      minus, nihil quidem sapiente non numquam pariatur?
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae
      eligendi quis dolore nam molestias, hic officiis
      animi libero dignissimos at nostrum voluptatem quas
      minus, nihil quidem sapiente non numquam pariatur?
    </p>
  </section>
</div>
