<div class="signup-wrap">
    <!-- Signup Form section -->
    <section id="signup-form">
        <div class="header-form-wrap">
            <header id="header">
                <h1>Create Account</h1>
                <p>Create a great platform for managing your education</p>
            </header>
            <form id="form" action="post">
                <div class="input-block-set">
                    <div class="input-block">
                        <label for="name">Full Name(s)<sup>*</sup></label>
                        <input type="text" name="name" id="name" required>
                    </div>
                    <div class="input-block">
                        <label for="surname">Surname<sup>*</sup></label>
                        <input type="text" name="surname" id="surname" required>
                    </div>
                </div>

                <div class="input-block-set">
                    <div class="input-block">
                        <label for="email">Email Address<sup>*</sup></label>
                        <input type="email" name="email" id="email" required>
                    </div>
                    <div class="input-block">
                        <label for="number">Mobile Number(optional)</label>
                        <input type="tel" name="number" id="number">
                    </div>
                </div>

                <div class="input-block">
                    <label for="password">Password<sup>*</sup></label>
                    <input type="password" name="password" id="password" required>
                </div>
                <div class="submit-block">
                    <input type="submit" value="Sign Up" class="btn">
                </div>
                <div class="link">
                  <p>Already a member? <a class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></p>
                </div>
            </form>
        </div>
    </section>

    <!-- Login Link section -->
    <section id="login-link">
        <div class="overlay">
            <div class="link">
                <p>Already a member? <a class="btn" [routerLink]="['/login']" routerLinkActive="router-link-active" >Login</a></p>
            </div>
        </div>
    </section>
</div>
