/* Signup page */

.signup-wrap {
    display: flex;
    width: 100%;
    height: 60vh;
    margin-top: 10vh;
}

#signup-form {
    flex: 1.2;
}

#login-link {
    flex: 1;
}

/* Signup Form section */
#signup-form {
    margin: 50px auto;
    /* border: 1px solid orange; */
}

#signup-form .header-form-wrap {
    width: 80%;
    margin: 0 auto;
    /* border: 1px solid green; */
}

#header h1 {
    font-size: 2.5rem;
    font-weight: 600;
}

#header p {
    color: grey;
    font-size: 0.8rem;
    margin-top: 5px;
    font-weight: 600;
}

#form .input-block-set {
    display: flex;
}

#form .input-block {
    flex: 1
}

.input-block {
    margin: 10px 0;
}

.input-block label,
.input-block input {
    display: block;
}

.input-block label {
    color: grey;
    font-size: 0.8rem;
    font-weight: 600;
}

.input-block input {
    height: 40px;
    padding-left: 5px;
    border: 1px solid grey;
}

.submit-block {
    width: 150px;
    height: 50px;
    margin-top: 20px;
}

.submit-block input {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 600;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
    background-color: #3185FC;
}
/* Signup Forn section end */

/* Login Link section */
#login-link .overlay {
    width: 100%;
    height: 100%;
    background-color: rgba(51, 51, 51, 0.4);
}

#login-link .link {
    padding-top: 50px;
}
.link p {
    color: #fff;
}

.link a {
    color: white;
    font-weight: 600;
    border: 2px solid rgba(49, 133, 252, 0.8);
}
/* Login Link section end */


/* Login link section */
#login-link {
    background-image: url('../../assets/images/banner/banner1-min.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
/* Login Link section end */

@media screen and (max-width: 62rem) {/* Medium viewport */
    .signup-wrap {
        display: flex;
        flex-flow: column;
    }

    /* Signup Form section */
    #signup-form {
        width: 100%;
    } 

    #signup-form .header-form-wrap {
        width: 80%;
        margin: 0 auto;
    }
    /* Signup Form section end */

    /* Login link section */
    #login-link {
        display: none;
    }
    /* Login Link section end */
}

@media screen and (max-width: 48rem) {/* Small viewport */
    .signup-wrap {
        height: 80vh;
    }

    /* Signup Form section */
    #form .input-block-set {
        display: flex;
        flex-flow: column;
    }

    .input-block input {
        width: 100%;
        height: 45px;
    }
    /* Signup Form section end */
}