/* Navigation */
#nav {
    /* position: absolute;
    top: 0; */
    width: 100%;
    height: fit-content;
}

#nav .navbar-brand img {
    width: 80px;
    height: auto;
}
.nav-item{
    margin-left: 2.5rem;
}
.nav-item .btn{
    background-color: rgba(238, 83, 98, 0.6);
}
.nav-item a:hover{
    cursor: pointer;
    color: rgba(238, 83, 98, 0.6);
}
ng-sidebar-container{
    height: 100vh;
    display: absolute;
    z-index: 1;
}
::ng-deep .ng-sidebar{
    background-color: aliceblue;
    width: 300px;
    padding: 2em; 
}
@media screen and (max-width: 48rem) { /* Medium Viewport */
    #nav .navbar-nav .log a {
        border: 1px solid #403f4c;
        border-radius: unset;
    }
}

@media screen and (max-width: 48rem) { /* Small viewport */
  #nav .log-divider {
    display: none;
  }
}
