<section id="banner">
  <div class="banner-wrap">
    <div class="overlay">
      <div class="heading">
        <h1>Who we are</h1>
      </div>
    </div>
  </div>
</section>

<section id="info">
  <article class="mission">
    <div class="content">
      <h2>Our mission</h2>
      <p>
        To close the gap in learning in regions where education poor or non-existant,
        children deserve to be exposed to an eduactional system that equips them with
        the resources and the information for them to be future chagemakers.
      </p>
    </div>
  </article>

  <article class="about">
    <h2>About Fountain Africa</h2>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Itaque maxime quia
      dolore quae odio atque possimus iure quam fugit saepe eaque ducimus officia
      reprehenderit sit voluptate velit, deserunt enim recusandae.
    </p>

    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae voluptatum
      consequuntur animi itaque rerum distinctio magnam aperiam suscipit eaque dolor,
      tempora laboriosam repellendus, provident debitis necessitatibus labore eum
      asperiores soluta.
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure hic iste sunt.
      Sunt veniam dignissimos officia mollitia unde ipsam harum asperiores nihil nam,
      maiores, omnis ea sapiente. Eius, eaque ratione.
    </p>

    <p>
      Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusantium quasi
      voluptate asperiores, officiis magnam praesentium eius dicta corrupti nam consectetur
      non amet aliquam totam itaque ratione, nesciunt porro aspernatur. Corrupti!
    </p>
  </article>

  <article class="team">
    <h2>Our Team</h2>

    <!-- Ndivhuwo Gift -->
    <div class="team-mate bio-right">
      <div class="frame-image">
        <div class="wide frame"></div>

        <div class="narrow image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="">
        </div>
      </div>

      <div class="name-bio">
        <h3>Ndivhuwo Gift</h3>
        <p>Backend Engineer & Lead Engineer</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur consequuntur
          quidem, repudiandae reiciendis cumque eum incidunt a aut consectetur repellendus
          maxime et laboriosam recusandae numquam eius nobis, vel inventore ullam!</p>
      </div>
    </div>

    <!-- Tsakane Cathrine -->
    <div class="team-mate bio-left">
      <div class="name-bio">
        <h3>Tsakane Cathrine</h3>
        <p>Cloud Engineer & Designer</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur consequuntur
          quidem, repudiandae reiciendis cumque eum incidunt a aut consectetur repellendus
          maxime et laboriosam recusandae numquam eius nobis, vel inventore ullam!</p>
      </div>

      <div class="frame-image">
        <div class="narrow image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="">
        </div>

        <div class="wide frame"></div>
      </div>
    </div>

    <!-- Junior -->
    <div class="team-mate bio-right">
      <div class="frame-image">
        <div class="wide frame"></div>

        <div class="narrow image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="">
        </div>
      </div>

      <div class="name-bio">
        <h3>Junior</h3>
        <p>JavaScript Developer, React & Reviewer</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur consequuntur
          quidem, repudiandae reiciendis cumque eum incidunt a aut consectetur repellendus
          maxime et laboriosam recusandae numquam eius nobis, vel inventore ullam!</p>
      </div>
    </div>

    <!-- Thabiso -->
    <div class="team-mate bio-left">
      <div class="name-bio">
        <h3>Thabiso</h3>
        <p>Cloud Engineer</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur consequuntur
          quidem, repudiandae reiciendis cumque eum incidunt a aut consectetur repellendus
          maxime et laboriosam recusandae numquam eius nobis, vel inventore ullam!</p>
      </div>

      <div class="frame-image">
        <div class="narrow image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="">
        </div>

        <div class="wide frame"></div>
      </div>
    </div>

    <!-- Matthew -->
    <div class="team-mate bio-right">
      <div class="frame-image">
        <div class="wide frame"></div>

        <div class="narrow image">
          <img src="../../assets/images/bg/rainbow.jpg" alt="">
        </div>
      </div>

      <div class="name-bio">
        <h3>Matthew</h3>
        <p>JavaScript Developer, Angular & Reviewer</p>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Tenetur consequuntur
          quidem, repudiandae reiciendis cumque eum incidunt a aut consectetur repellendus
          maxime et laboriosam recusandae numquam eius nobis, vel inventore ullam!</p>
      </div>
    </div>
  </article>
</section>



