<div class="modal-header">
    <h4 class="modal-title">Mathematics</h4>
</div>
<div class="modal-body">
    <div class="question">
       <div class="question_statement">
            <p>
            1: Identify the absolute value of: |4| 
            </p>
       </div>

       <div class="grade_body">
          <div class="checkbox">
            <label>
                <input type="checkbox" value="" > A
            </label>
          </div> 
          <div class="checkbox">
            <label>
                <input type="checkbox" value="" > A
            </label>
          </div> 
      </div>
    </div>
</div>
<div class="modal-footer">
    <button type="button" class="btn btn-outline-dark btn-primary" (click)="onApply()">Submit</button>
</div>
