<!-- Dashboard Profile -->
<section id="profile">
  <div class="profile-wrap">
    <div class="details">
      <div class="image">
        <div class="icon">
          <p><i class="fa fa-user"></i></p>
        </div>
      </div>

      <div class="username-bio">
        <div class="username">
          <h2>Username:</h2>
          <p>nameexample</p>
        </div>

        <div class="bio">
          <h2>Bio:</h2>
          <p>
            Lorem ipsum, dolor sit amet consectetur adipisicing
            elit. Numquam quod modi quibusdam?
          </p>
        </div>
      </div>
    </div>

    <div class="badges">

    </div>
  </div>
</section>
