/* Banner section */
#banner {
  width: 100%;
}

#banner .call-to-action {
  position: absolute;
  top: 50vh;
  left: 45vw;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  z-index: 1;
}

#banner .call-to-action a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500px;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 133, 252, 0.6);
}

#banner .call-to-action a:hover {
  background-color: rgb(49, 133, 252,0.8);
}

#banner .banner-image {
  height: 80vh;
}

#banner .carousel-item .banner-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner .carousel-item .one {
  background-image: url('../../assets/images/banner/banner4.jpg');
}

#banner .carousel-item .two {
  background-image: url('../../assets/images/banner/banner5.jpg');
}

#banner .carousel-item .three {
  background-image: url('../../assets/images/banner/banner6.jpg');
}

#banner .carousel-item .layover {
  width: 100%;
  height: 100%;
  background-color: rgba(84, 88, 90, 0.2);
}

#banner a .carousel-control-prev-icon,
#banner a .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

#banner .quote {
  position: relative;
  top: 20%;
  max-width: 350px;
  margin: 0 auto;
}

#banner .quote p {
  color: #fff;
  font-size: 38px;
  text-align: center;
}
/* Banner section end */

/* Explore section */
#explore {
  width: 100%;
  margin: 0 0 20px 0;
  /* border: 1px solid orange; */
}

.category-set{
  display: flex;
}

.category-set .wide {
  flex: 1.5;
}

.category-set .narrow {
  flex: 1;
}

.category-set .card {
  height: 400px;
}

.category-set .card .card-bg {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.section_header:hover{
  color: #68c2e8 !important;
  cursor: pointer;
}
.category-set .card .card-body {
  width: 100%;
  height: 100%;
}

.category-set .card .card-body a h5,
.category-set .card .card-body h5,
.category-set .card .card-body hr,
.category-set .card .card-body p {
  position: relative;
  top: 40%;
  cursor: pointer;
  width: fit-content;
  height: fit-content;
  margin: 0 auto;
  color: #fff;
}

.category-set .card .card-body h5 {
  font-size: 2rem;
  font-weight: 500;
}

.category-set .card .card-body hr {
  border: 2px solid #fff;
  width: 150px;
  margin: 15px auto;
}

.category-set .card .card-body p {
  font-size: 1.15rem;
  margin-top: 10px;
}

.category-set .one .card-bg {
  background-image: url('../../assets/images/explore/classes.jpg');
}

.category-set .two .card-bg {
  background-image: url('../../assets/images/explore/books.jpg');
}

.category-set .three .card-bg {
  background-image: url('../../assets/images/explore/write-min.jpg');
}

.category-set .four .card-bg {
  background-image: url('../../assets/images/explore/challenge.jpg');
}

.category-set .one .card-body {
  background-color: rgba(111, 195, 223, 0.8);
}

.category-set .two .card-body {
  background-color: rgba(141, 130, 196, 0.8);
}

.category-set .three .card-body {
  background-color:rgba(231, 183, 136, 0.8);
}

.category-set .four .card-body {
  background-color: rgba(236, 141, 129, 0.8);
}

.category-set .card .card-body:hover {
  background-color: rgba(84, 88, 90, 0.5);
}

/* Explore section end */

/* Why Us section */
#why-us {
  width: 100%;
  margin: 20px;
}

.content-heading {
  width: fit-content;
  margin: 10px auto;
}

.content-heading h2 {
  font-size: 2.5rem;
  color: #4e4f50;
  text-align: center;
  font-weight: 500;
}

.content-text {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.content-text p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* Why Us section end */

@media screen and (max-width: 62rem) { /* Medium Viewport */
  /* Banner section */
  #banner .call-to-action {
    position: absolute;
    top: 40vh;
    left: 40vw;
  }

  #banner .call-to-action a {
    font-size: 1.1rem;
  }

  #banner .banner-image {
    height: 65vh;
  }
  /* Banner section end */
  /*Section 

  /* Explore Section */
  .category-set{
    display: flex;
  }

  .category-set .wide,
  .category-set .narrow {
    flex: 1;
  }
  /* Explore section end */
}

@media screen and (max-width: 48rem) { /* Small Viewport */
  /* Banner section */
  #banner .call-to-action {
    position: absolute;
    top: 25vh;
    left: 35vw;
  }

  #banner .call-to-action a {
    font-size: 1rem;
  }

  #banner .banner-image {
    height: 40vh;
  }
  /* Banner section end */

  /* Explore section */
  .category-set{
    display: flex;
    flex-flow: column;
  }
  /* Explore section end */

}
