/* Banner section */
.banner {
  width: 100%;
  padding: 2rem;
  height: fit-content;
  box-sizing: border-box;
  background-image: url('../../assets/home.jpg');
  background-size: cover;
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative;
}
.banner img{
   max-width: 100%;
}
.associate{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.associate > img{
  z-index: 2;
  width: fit-content;
}
.banner .call-to-action {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  z-index: 1;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(238, 83, 98, 0.6);
  font-weight: 500px;
}



/* Why Us section */
#why-us {
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
 
.content-heading {
  width: fit-content;
  margin: 10px auto;
}

.content-heading h2 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  font-weight: 500;
}

.content-text {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.content-text p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* Why Us section end */

/* Meet the team sectiom */
#team{
  margin-top: 2rem;
  background-color: #68c2e8;
  height: fit-content;
  box-sizing: border-box;
  text-align: center;
}
.team-heading h2 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  font-weight: 500;
}
.card img{
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
}
.card{
  width: 23%;
  padding: 1.2rem;
  border-style: none;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Meet the team section end*/
@media screen and (max-width: 62rem) { /* Medium Viewport */
  /* Banner section */
  .card{
    width: 45%;
    padding: 1.2rem;
    border-style: none;
  }
 
  
  /* Banner section end */

  /* Explore Section */
  .category-set{
    display: flex;
  }

  .category-set .wide,
  .category-set .narrow {
    flex: 1;
  }
  /* Explore section end */
}

@media screen and (max-width: 48rem) { /* Small Viewport */
  /* Banner section */
  
  /* Banner section end */

  .card{
    width: 100%;
    padding: 1.2rem;
    border-style: none;
  }
}
