/* Banner section */
.banner {
  width: 100%;
  padding: 2rem;
  height: fit-content;
  box-sizing: border-box;
  background-image: url('../../assets/home.jpg');
  background-size: cover;
  text-align: center;
  margin-bottom: 2.5rem;
  position: relative;
}

#banner .call-to-action {
  position: absolute;
  top: 50vh;
  left: 45vw;
  width: 150px;
  height: 50px;
  margin: 0 auto;
  z-index: 1;
}

#banner .call-to-action a {
  color: #fff;
  font-size: 1.2rem;
  font-weight: 500px;
  width: 100%;
  height: 100%;
  background-color: rgba(49, 133, 252, 0.6);
}

#banner .call-to-action a:hover {
  background-color: rgb(49, 133, 252,0.8);
}

#banner .banner-image {
  height: 80vh;
}

#banner .carousel-item .banner-image {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#banner .carousel-item .one {
  background-image: url('../../assets/images/banner/banner4.jpg');
}

#banner .carousel-item .two {
  background-image: url('../../assets/images/banner/banner5.jpg');
}

#banner .carousel-item .three {
  background-image: url('../../assets/images/banner/banner6.jpg');
}

#banner .carousel-item .layover {
  width: 100%;
  height: 100%;
  background-color: rgba(84, 88, 90, 0.2);
}

#banner a .carousel-control-prev-icon,
#banner a .carousel-control-next-icon {
  width: 30px;
  height: 30px;
}

#banner .quote {
  position: relative;
  top: 20%;
  max-width: 350px;
  margin: 0 auto;
}

#banner .quote p {
  color: #fff;
  font-size: 38px;
  text-align: center;
}
.banner img{
   max-width: 100%;
}
.associate{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.associate > img{
  z-index: 2;

.category-set .wide {
  flex: 1.5;
}

.category-set .narrow {
  flex: 1;
}

.category-set .card {
  height: 400px;
}

.category-set .card .card-bg {
  background-position: center;
  background-size: cover;
  height: 100%;
  width: 100%;
}
.section_header:hover{
  color: #68c2e8 !important;
  cursor: pointer;
}
.category-set .card .card-body {
  width: 100%;
  height: 100%;
}

.category-set .card .card-body a h5,
.category-set .card .card-body h5,
.category-set .card .card-body hr,
.category-set .card .card-body p {
  position: relative;
  top: 40%;
  cursor: pointer;
  width: fit-content;
}
.banner .call-to-action {
  width: 150px;
  height: 50px;
  margin: 0 auto;
  z-index: 1;
  color: #fff;
  font-size: 1.2rem;
  background-color: rgba(238, 83, 98, 0.6);
  font-weight: 500px;
  margin: 15px auto;
}

.category-set .card .card-body p {
  font-size: 1.15rem;
  margin-top: 10px;
}

.category-set .one .card-bg {
  background-image: url('../../assets/images/explore/classes.jpg');
}

.category-set .two .card-bg {
  background-image: url('../../assets/images/explore/books.jpg');
}

.category-set .three .card-bg {
  background-image: url('../../assets/images/explore/write-min.jpg');
}

.category-set .four .card-bg {
  background-image: url('../../assets/images/explore/challenge.jpg');
}

.category-set .one .card-body {
  background-color: rgba(111, 195, 223, 0.8);
}

.category-set .two .card-body {
  background-color: rgba(141, 130, 196, 0.8);
}

.category-set .three .card-body {
  background-color:rgba(231, 183, 136, 0.8);
}

.category-set .four .card-body {
  background-color: rgba(236, 141, 129, 0.8);
}



/* Why Us section */
#why-us {
  width: 100%;
  margin: 20px;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
}
 
.content-heading {
  width: fit-content;
  margin: 10px auto;
}

.content-heading h2 {
  font-size: 2.5rem;
  color: black;
  color: #4e4f50;
  text-align: center;
  font-weight: 500;
}

.content-text {
  width: 80%;
  max-width: 1000px;
  margin: 0 auto;
}
.content-text p {
  font-size: 1.1rem;
  line-height: 1.5;
}
/* Why Us section end */

/* Meet the team sectiom */
#team{
  margin-top: 2rem;
  background-color: #68c2e8;
  height: fit-content;
  box-sizing: border-box;
  text-align: center;
}
.team-heading h2 {
  font-size: 2.5rem;
  color: black;
  text-align: center;
  font-weight: 500;
}
.card img{
  border-radius: 50%;
  width: 9rem;
  height: 9rem;
  margin-left: auto;
  margin-right: auto;
}
.card{
  width: 23%;
  padding: 1.2rem;
  border-style: none;
}
.cards{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
/* Meet the team section end*/
@media screen and (max-width: 62rem) { /* Medium Viewport */
  /* Banner section */
  .card{
    width: 45%;
    padding: 1.2rem;
    border-style: none;
  }
 
  
  /* Banner section end */
  /*Section 

  /* Explore Section */
  .category-set{
    display: flex;
  }

  .category-set .wide,
  .category-set .narrow {
    flex: 1;
  }
  /* Explore section end */
}

@media screen and (max-width: 48rem) { /* Small Viewport */
  /* Banner section */
  
  /* Banner section end */

  .card{
    width: 100%;
    padding: 1.2rem;
    border-style: none;
  }

}
