<!-- Banner section -->
<div class="banner">
      <div class="container">
       
        <button class="call-to-action">Join us now</button><br>
        <h2 style="color:#0000FF;">ENTER TO LEARN</h2>
        <p style="font-weight: bold;">Get unlimited access to learning material for free and career guidance</p>
</div>
  <!-- Explore section -->
<section id="explore">
    <div class="categories">
        <div class="category-set">
         
          <article class="card narrow one" style="width: 100%;">
            <div class="card-bg">
              <div class="card-body">
                    <a  routerLink="/classes">
                      <h5 class="" > 
                         Classes
                      </h5>
                    </a>                    
                <hr>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          
          </article>
        

          <article class="card wide two" style="width: 100%;">
            <div class="card-bg">
              <div class="card-body">
                <a routerLink="/library">
                  <h5 class="" > 
                    Books
                  </h5>
                </a> 
                <hr>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </article>
        </div>

        <div class="category-set">
          <article class="card wide three" style="width: 100%;">
            <div class="card-bg">
              <div class="card-body">
                <a routerLink="/classes">
                  <h5 class="" > 
                    Blog
                  </h5>
                </a>
                <hr>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </article>

          <article class="card narrow four" style="width: 100%;">
            <div class="card-bg">
              <div class="card-body">
                <a routerLink="/classes">
                  <h5 class="" > 
                    Challenges
                  </h5>
                </a>
                <hr>
                <p class="">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
              </div>
            </div>
          </article>
        </div>
      </div>
</div>

<!-- Why Us section -->

<section id="why-us">
  <div class="why-us-content">
    <div class="content-heading">
      <h2>Why Us</h2>
    </div>
    <div class="content-text">
      <p>
        Africa has so many passionate citizens who wish to see their new generation
        get to a further place than they have. Foundation Africa is propelled and
        supported by individuals who share the same vision and who love to share.
        The material has been produced and reviewed by people from all walks in life
        with the same level of attention to detail.
      </p>
    </div>
  </div>
  </section>
  <section id="team" class="container">
      <div class="team-heading">
        <h2>Our Team</h2>
      </div>
      <div class="cards"> 
          <div class="card mb-3" *ngFor="let member of team">
              <img src="../../assets/images/banner/banner3-min.webp" class="card-img-top" alt="image top">
              <div class="card-body">
                  <h5>{{member.fullName}} </h5>
                  <span>{{member.role}} </span>
              </div>
          </div>
      </div>
  </section>
