.search{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    border-radius: 5px;
}
#button{
    display: flex;
    justify-content: center;
}
.active{
    background-color: black;
}
button{
    width:6rem;
    border-style: solid !important;
}