<div id="action-description">
  <p>
      This sample illustrates a line series with dash array.
      Dashed lines are animated by using css animation.
  </p>
</div>
<div class="control-section">
  <ejs-chart style='display:block' align='center' id='dashed-chartcontainer' [chartArea]='chartArea' [title]='title' [primaryXAxis]='primaryXAxis' [primaryYAxis]='primaryYAxis' [tooltip]='tooltip' (load)='load($event)' [crosshair]='crosshair' [width]='width'>
      <e-series-collection>
          <e-series [dataSource]='data' type='Line' xName='x' yName='y' name='Banana' dashArray='5' width=2 [marker]='marker'> </e-series>
          <e-series [dataSource]='data1' type='Line' xName='x' yName='y' name='Apple' dashArray='10' width=2 [marker]='marker1'> </e-series>
      </e-series-collection>
  </ejs-chart>
</div>
<style>

</style>
