.search{
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 1.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
}
#button{
    display: flex;
    justify-content: center;
}
.active{
    background-color: black;
}
button{
    width:6rem;
    border-style: solid !important;
}


drag-scroll{
    width: inherit;
    height: 200px;
}
.item{
    height: fit-content;
    margin:1rem;
}
.item img{
    height: 150px;
    width: 200px;
}
.category{
    display: flex;
    justify-content: baseline;
    flex-wrap: wrap;
}
.blogs .image img{
    height: 130px;
    width: 100px;
    margin-right: 2rem;
}
.blog{
    display: grid;
    grid-template-columns: auto   auto;
    margin-bottom: 1.6rem;
}