<section id="user-books">
  <div class="row mx-auto">
    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/math-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">Mathematics</h3>
      </div>
    </div>

    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/robotics-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">Robotics</h3>
      </div>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/physics-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">Physics</h3>
      </div>
    </div>

    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/it-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">IT</h3>
      </div>
    </div>
  </div>

  <div class="row mx-auto">
    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/french-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">French</h3>
      </div>
    </div>

    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/egd-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">EGD</h3>
      </div>
    </div>
  </div>
</section>

<section >
  <h2>Other Books</h2>
  <div class="row mx-auto">
    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/agriculture-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">Agriculture</h3>
      </div>
    </div>

    <div class="card col-md-5 col-sm-8" style="width: 18rem;">
      <img src="../../../assets/images/courses/fashion-min.jpg" class="card-img-top" alt="...">
      <div class="card-body">
        <h3 class="card-heading">Fashion</h3>
      </div>
    </div>
  </div>
</section>
